version: 2.1

orbs:
  node: circleci/node@5.0.3

jobs:
  build-and-scan:
    docker:
      - image: cimg/node:22.12.0  # Node version you're using
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Run ESLint (basic static check)
          command: |
            npx eslint . || true
      - run:
          name: Run basic tests
          command: |
            npm test || echo "No tests defined"
      - run:
          name: Run SonarCloud scan
          command: |
            npx sonar-scanner \
              -Dsonar.projectKey=payment-portal \
              -Dsonar.organization=${SONAR_ORG} \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.login=${SONAR_TOKEN}

workflows:
  version: 2
  build:
    jobs:
      - build-and-scan
